@charset "UTF-8"
body 
  box-sizing: border-box
  margin: 0
  padding: 0
  background-color: rgb(32 32 32)
  color: white

.main-container
  max-width: 100vw
  width: 100%
  height: auto
  display: grid
  grid-template-columns: 5% 1fr 1fr 5%
  grid-template-rows: 1fr
  grid-template-areas: ". nav nav ." ". header header ." ". content content ." ". contact contact ."
  grid-gap: 50px

.nav-container
  grid-area: nav
  max-width: 100%
  width: 100%
  height: auto

.nav-modal
  display: none
  max-width: 50%
  width: 100%
  height: auto

.nav-link-list
  display: flex
  flex-flow: row nowrap
  max-width: 50%
  width: 100%
  height: auto
  justify-content: flex-end
  gap: 10%
  float: right
  clear: both

.section-container
  max-width: 100vw
  width: 100%
  height: auto
  margin: 0 auto
  padding: 2.5% 0%
  border: 1px solid white

.header-section
  grid-area: header

.header-wrapper
  display: flex
  flex-flow: column nowrap
  align-items: center

.project-section
  grid-area: content
  display: flex
  flex-flow: row wrap
  box-sizing: border-box

.article-wrapper
  display: flex
  flex-flow: row wrap
  //flex-flow: column wrap ---Mobile
  max-width: 50%
  width: 100%
  height: auto
  box-sizing: border-box
  padding: 2.5% 2.5%
  border: 1px solid white
  font-size: 110%

.project-item
  display: flex
  flex-flow: column nowrap
  max-width: 100%
  width: 100%
  height: auto
  padding: 2.5% 0%
  box-sizing: border-box

.about-section
  display: none
  grid-area: content

.contact-section
  grid-area: contact