ul a:hover
  background-color: $highlight-light

.active
  background-color: $tertiary-color
  color: black

.active:hover
  background-color: $tertiary-color

.download-img
  animation: bounce 1s ease-in 2s infinite alternate

@keyframes bounce
  0%
    transform: translateY(-1.5px)
  50%
    transform: translateY(0px)
  100%
    transform: translateY(1.5px)

.slide-left
  animation: slide-left 2s ease-in 1s 2 alternate

@keyframes slide-left
  0%
    opacity: 1
  60%
    transform: translateX(-15px)
  100%
    opacity: 0
    transform: translateX(-2000px)

.slide-right
  animation: slide-right 2s ease-in 1s 2 alternate

@keyframes slide-right
  0%
    opacity: 1
  60%
    transform: translateX(15px)
  99.9% 
    transform: translateX(2000px)
  100%
    opacity: 0
    transform: translateX(-4000px)

@media only screen and (max-width: 950px)

  body
    background-position: 0px 50px 0px 0px
    overflow: hidden

  main
    grid-template-columns: 1fr 1fr
    grid-template-areas: "header header" "nav nav" "content content" "contact contact"

  .header-section
    max-height: 87vh

  nav
    max-height: 7vh
    gap: 2%

  .section-heading
    display: none

  .project-section
    flex-flow: column wrap

  .article-wrapper
    max-width: 100%

  .project-img
    opacity: 1.0

  .nav-link-item
    // font-size: 80%
    font-weight: 600

  @media only screen and (max-width: 475px)
    ul a
      padding: 0% 2%

    .nav-link-item 
      font-size: 4vmin

    svg
      max-width: 10vmax