.header-wrapper
  display: flex
  flex-flow: column nowrap
  align-items: center
  margin-top: 5%

.header-wrapper p
  padding: 2.5px 0px

.animation-wrapper
  width: 50%
  height: auto
  font-size: 1000%
  font-weight: 900
  text-align: center
  margin-top: 5%

.header-animation
  display: block
  margin-top: 2.5%

.arrow-btn-wrapper
  margin-top: 5%

//Nav

.nav-link-list
  grid-area: nav-links

.nav-social-list
  grid-area: social-links

.nav-social-list a
  max-width: 150px
  width: 100%
  height: auto

.nav-social-link
  max-width: 150px
  width: 100%
  height: auto

#code-pen
  fill: none
  stroke: $tertiary-color

//project

.section-heading
  width: 100%
  height: auto
  text-align: center

.project-section
  display: flex
  display: none
  flex-flow: row wrap
  box-sizing: border-box
  margin: 0
  padding: 0

.article-wrapper
  display: flex
  flex-flow: row wrap
  //flex-flow: column wrap ---Mobile
  max-width: 50%
  width: 100%
  height: auto
  box-sizing: border-box
  padding: 5%
  border: 1px solid lightgrey
  font-size: 110%

.project-item
  display: flex
  flex-flow: column nowrap
  max-width: 100%
  width: 100%
  height: auto
  padding: 3% 3%
  box-sizing: border-box

.project-item a
  text-decoration: none
  margin: 0
  padding: 0

.project-img
  max-width: 100%
  width: 100%
  height: 100%
  border-radius: 10px
  object-fit: cover

.project-number
  display: block
  width: 100%
  height: auto
  text-align: center

.project-link-list
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  list-style: none
  max-width: 250px
  width: 100%
  height: auto
  padding-inline-start: 0
  margin: 0 auto
  gap: 5%
  margin-top: 10%

.project-link-list a
  max-width: 125px
  width: 50%
  height: auto

.project-link
  max-width: 100px
  width: 100%
  height: auto
  text-align: center
  // padding: 1vw 2vw
  box-sizing: border-box
  background-color: rgb(0, 0, 25)
  color: white
  border-radius: 5px
  padding: 10% 0%

.project-description
  font-size: 0.9vw
  width: 85%
  margin: 0 auto

.project-heading
  font-size: 2vw
  margin: 0 auto

.about-section
  max-width: 600px
  width: 80%
  height: auto
  padding: 5% 0% 

.about-section h3
  font-size: 1.75vh
  padding-top: 2.5%

.about-content
  font-family: Arial, Helvetica, sans-serif
  font-size: 0.9vw
  font-weight: 400

.contact-section
  max-width: 100%
  width: 100%
  height: auto
  margin: 0 auto
  text-align: center
  border-top: 1px solid lightgrey
  padding: 5% 0%